In [1]:
#import all libraries

import pandas as pd
import numpy as np

import plotly.express as px
import plotly.io as io
import plotly.graph_objects as go

In [2]:
#get data and data key
!wget http://www.stat.columbia.edu/~gelman/arm/examples/speed.dating/Speed%20Dating%20Data%20Key.doc

--2020-08-29 04:36:54--  http://www.stat.columbia.edu/~gelman/arm/examples/speed.dating/Speed%20Dating%20Data%20Key.doc
Resolving www.stat.columbia.edu (www.stat.columbia.edu)... 128.59.111.11
Connecting to www.stat.columbia.edu (www.stat.columbia.edu)|128.59.111.11|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 161792 (158K) [application/msword]
Saving to: ‘Speed Dating Data Key.doc’

Speed Dating Data K 100%[===================>] 158.00K  --.-KB/s    in 0.06s

2020-08-29 04:36:54 (2.62 MB/s) - ‘Speed Dating Data Key.doc’ saved [161792/161792]

In [3]:
!wget https://raw.githubusercontent.com/james-caldwell1981/DS-Unit-1-Build-Sprint/master/Speed_Dating_Data.csv

--2020-08-29 04:36:54--  https://raw.githubusercontent.com/james-caldwell1981/DS-Unit-1-Build-Sprint/master/Speed_Dating_Data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5192318 (5.0M) [text/plain]
Saving to: ‘Speed_Dating_Data.csv’

Speed_Dating_Data.c 100%[===================>]   4.95M  14.3MB/s    in 0.3s

2020-08-29 04:36:54 (14.3 MB/s) - ‘Speed_Dating_Data.csv’ saved [5192318/5192318]

In [4]:
!head /content/Speed_Dating_Data.csv

234,1,0,1,1,10,9,8,8,3,6,248,0,0.23,1,27,6,25.00,15.00,20.00,20.00,15.00,5.00,0,5.00,7.00,8.00,6.00,7.00,3.00,7.00,4.00,2,22,Sociology and Education,3.00,George Mason University,"1,070.00","12,696.00",6,1,5,Virginia,"23,060","44,346.00",3,7,3,Educational Policy,2.00,5,3,10,10,9,5,2,1,4,9,5,6,5,5,9,7,4,5,,20.00,20.00,20.00,10.00,10.00,20.00,10,20,20,20,15,15,75.00,1.00,1.00,3.00,10.00,10.00,7,7,8,8,10,9,6,9,6,10,0,5.00,6.00,6.00,8.00,6.00,2.00,6.00,3.00,0,1.00,30.00,20.00,20.00,10.00,10.00,5.00,8.00,10.00,9.00,10,10,5,1,3,,,,,,,20.00,15.00,20.00,20.00,15.00,10.00,25,20,15,20,10,10,50.00,5.00,5.00,20.00,10.00,10.00,8,9,9,9,10,9,6,9,7,10,0,0,0,,,15.00,10.00,20.00,20.00,15.00,20.00,25,15,15,20,15,10,1

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

552,,1,44,2,21,22,2,10,15,22,530,0,0.01,0,22,4,20.00,20.00,10.00,15.00,5.00,30.00,1,8.00,8.00,7.00,7.00,7.00,7.00,8.00,5.00,2,25,Climate Dynamics,18.00,"Ecole Normale SupŽrieure, Paris",,,2,1,1,France,"78,110",,1,2,1,assistant master of the universe (otherwise it's too much work),15.00,8,2,5,10,10,10,7,1,9,8,3,7,9,10,10,7,3,10,,70.00,0.00,15.00,15.00,0.00,0.00,90,0,0,0,0,10,50.00,0.00,0.00,30.00,0.00,20.00,8,7,6,7,7,9,7,10,5,9,0,3.00,7.00,6.00,4.00,8.00,1.00,4.00,5.00,0,3.00,,,,,,,,,,,,5,1,2,70,0,15,10,0,5,70.00,0.00,15.00,10.00,0.00,5.00,80,0,5,5,0,10,50.00,5.00,10.00,20.00,5.00,10.00,9,3,7,6,9,9,3,9,4,7,2,0,0,,1,70.00,0.00,20.00,10.00,0.00,0.00,70,0,20,10,0,0,80,0,10,0,0,10,50,5,10,20,10,5,8,5,7,6,7,9,5,9,5,6

In [5]:
#read data into dataframe
df = pd.read_csv('/content/Speed_Dating_Data.csv', error_bad_lines=False, header='infer')

In [6]:
df.head()

   iid   id  gender  idg  condtn  ...  attr5_3  sinc5_3  intel5_3  fun5_3  amb5_3
0    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
1    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
2    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
3    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
4    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN

[5 rows x 195 columns]

In [7]:
#get the lowest and highest age of participants
print(df['age'].min())
print(df['age'].max())

18.0
55.0

In [8]:
#create new column with age difference
df['age_diff'] = abs(df['age']-df['age_o'])
df['age_diff'].head()

0    6.0
1    1.0
2    1.0
3    2.0
4    3.0
Name: age_diff, dtype: float64

In [9]:
#create df with only matched couples
matched_df = df[df['match']==1]

In [10]:
matched_df.shape

(1380, 196)

In [11]:
#create df with only unmatched couples
unmatched_df = df[df['match']==0]

In [12]:
unmatched_df.shape

(6998, 196)

In [13]:
matched_df.describe()

               iid           id  ...      amb5_3     age_diff
count  1380.000000  1380.000000  ...  363.000000  1344.000000
mean    278.031884     8.950725  ...    7.079890     3.181548
std     158.472171     5.370848  ...    1.640882     2.669106
min       1.000000     1.000000  ...    1.000000     0.000000
25%     142.000000     4.000000  ...    6.000000     1.000000
50%     274.000000     8.000000  ...    7.000000     3.000000
75%     404.000000    13.000000  ...    8.000000     5.000000
max     552.000000    22.000000  ...   10.000000    17.000000

[8 rows x 188 columns]

In [14]:
unmatched_df.describe()

              iid           id  ...       amb5_3     age_diff
count  6998.00000  6997.000000  ...  1653.000000  6836.000000
mean    284.78894     8.962127  ...     7.041742     3.752194
std     158.59289     5.515156  ...     1.734865     3.123927
min       1.00000     1.000000  ...     1.000000     0.000000
25%     156.25000     4.000000  ...     6.000000     1.000000
50%     282.00000     8.000000  ...     7.000000     3.000000
75%     408.00000    13.000000  ...     8.000000     5.000000
max     552.00000    22.000000  ...    10.000000    32.000000

[8 rows x 188 columns]

In [15]:
#columns to omit for exploratory visualization
omit_cols = ['iid', 'id', 'gender', 'idg', 'wave', 'round', 'position', 'positin1', 'order', 'partner', 'pid', 'match']

In [16]:
#create dataframes for matches by gender
matched_male = matched_df[matched_df['gender']==1]
matched_female = matched_df[matched_df['gender']==0]

In [17]:
#create data frames for unmatched by gender
unmatched_male = unmatched_df[unmatched_df['gender']==1]
unmatched_female = unmatched_df[unmatched_df['gender']==0]

In [18]:
#create the y values of matches for each gender
y_matched_male = [matched_male[i].mean() for i in matched_male.columns if matched_male[i].dtype!='object' and i not in omit_cols]
y_matched_female = [matched_female[i].mean() for i in matched_female.columns if matched_female[i].dtype!='object' and i not in omit_cols]

In [19]:
#create figure for plot
fig1 = go.Figure()

#create the plot for matched males
fig1.add_trace(go.Scatter(
    x=matched_male.columns,
    y=y_matched_male,
    name='Matched Male Interests',
    mode='markers',
    marker=dict(color='rgb(50, 50, 200)', size=10),
))

#create the plot for matched females
fig1.add_trace(go.Scatter(
    x=matched_female.columns,
    y=y_matched_female,
    name='Matched Female Interests',
    mode='markers',
    marker=dict(color='rgb(230, 50, 50)', size=10),
    marker_color='rgb(230, 50, 50)'))

#set any final attributes of the figure and display it
fig1.update_layout(plot_bgcolor='rgb(240,240,240)',
                  title='Popularity of Topic vs Matched Genders',
                  xaxis_title='Topic/Activity',
                  yaxis_title='Score')

fig1.show()

In [20]:
#write html file for importing into iframe on blog
io.write_html(fig1, 'topic_vs_matched_plot.html')

In [21]:
#create data for each gender who is not matched
y_unmatched_male = [unmatched_male[i].mean() for i in unmatched_male.columns if unmatched_male[i].dtype!='object' and i not in omit_cols]
y_unmatched_female = [unmatched_female[i].mean() for i in unmatched_female.columns if unmatched_female[i].dtype!='object' and i not in omit_cols]

In [22]:
#create the figure
fig2 = go.Figure()

#add data for unmatched males
fig2.add_trace(go.Scatter(
    x=unmatched_male.columns,
    y=y_unmatched_male,
    name='Matched Male Interests',
    mode='markers',
    marker=dict(color='rgb(50, 50, 200)', size=10),
))

#add data for unmatched females
fig2.add_trace(go.Scatter(
    x=unmatched_female.columns,
    y=y_unmatched_female,
    name='Matched Female Interests',
    mode='markers',
    marker=dict(color='rgb(230, 50, 50)', size=10),
    marker_color='rgb(230, 50, 50)'))

#perform final formatting on figure and display
fig2.update_layout(plot_bgcolor='rgb(240,240,240)',
                  title='Popularity of Topic vs Unmatched Genders',
                  xaxis_title='Topic/Activity',
                  yaxis_title='Score')
fig2.show()

In [23]:
#write html file for importing into iframe on blog
io.write_html(fig2, 'topic_vs_unmatched_plot.html')

In [24]:
#create dataframe organizing data by wave
waves_df = df[['wave', 'match', 'age_diff']]

In [25]:
#create list of waves for easy iteration
wave_list = sorted(waves_df['wave'].value_counts().index)
wave_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [26]:
#crosstab to better correlate age differences for each wave
age_diff_by_wave = pd.crosstab(index=df['age_diff'], columns=waves_df['wave'])
age_diff_by_wave

wave      1    2   3    4   5   6    7   8   ...   14   15  16  17  18  19  20   21
age_diff                                     ...
0.0       16   60  16   44  28   2   60  10  ...   48   40   4  26   2  24  14  106
1.0       50  116  34  100  72   4  108  28  ...  118  116  28  46   6  54  28  176
2.0       40  110  30   84  44   6   72  30  ...   84   98  24  48   4  66  20  152
3.0       30   96  18   90  18   4   48  38  ...  108   84  14  44   6  66   8  130
4.0       26   76  18   70   0   2   62  26  ...   82   86   6  34  16  74   2  120
5.0       12   52  18   68   0   6   64  20  ...   62   58  14  26   0  74   0   68
6.0       12   38  14   46   0   4   32  12  ...   72   58   4  20  14  42   0   64
7.0        8   36  10   42   0   0   16   4  ...   28   40   0  22   6  30   0   60
8.0        2   10   2   24   0   2   16   4  ...   42   22   2  12   0   8   0   32
9.0        4   14   0   22   0   2   10   4  ...   16   32   0   2   6   2   0   10
10.0       0    0   0   18   0   2   10  10  ...   14   18   0   0   0   6   4    6
11.0       0    0   0    6   0   2    4   6  ...    4   12   0   0   0   2   4    0
12.0       0    0   0    8   0   0    0   6  ...    4    6   0   0   0   0   2    0
13.0       0    0   0    8   0   2    6   0  ...    2    2   0   0   0   0   2    0
14.0       0    0   0    6   0   2    4   2  ...    0    6   0   0   0   2   0    0
15.0       0    0   0    0   0   0    0   0  ...    0    4   0   0   0   0   0    0
16.0       0    0   0    8   0   0    0   0  ...    0    2   0   0   0   0   0    0
17.0       0    0   0    4   0   0    0   0  ...    0    0   0   0   0   0   0    0
18.0       0    0   0    0   0   0    0   0  ...    0    0   0   0   0   0   0    0
19.0       0    0   0    0   0   0    0   0  ...    0    0   0   0   0   0   0    0
20.0       0    0   0    0   0   0    0   0  ...    0    0   0   0   0   0   0    0
22.0       0    0   0    0   0   0    0   0  ...    0    0   0   0   6   0   0    0
28.0       0    0   0    0   0   0    0   0  ...    0    0   0   0   2   0   0    0
32.0       0    0   0    0   0   0    0   0  ...    0    0   0   0   4   0   0    0

[24 rows x 21 columns]

In [27]:
#number of matches for each wave
match_by_wave = pd.crosstab(index=waves_df['match'], columns=waves_df['wave'])
match_by_wave

wave    1    2    3    4    5   6    7   ...   15  16   17  18   19  20   21
match                                    ...
0      138  546  174  518  136  40  426  ...  558  72  232  66  376  74  824
1       62   62   26  130   54  10   86  ...  126  24   48   6   74  10  144

[2 rows x 21 columns]

In [28]:
#create figure
fig3 = go.Figure()

#add line data for mean age differences per wave
fig3.add_trace(go.Scatter(
    x=age_diff_by_wave.columns,
    y=[age_diff_by_wave[i].mean() for i in age_diff_by_wave.columns],
    name='Mean Age Difference Per Wave',
    mode='lines',
    marker=dict(color='rgb(245, 163, 0)', size=10),
))

#add data for average matches per wave
fig3.add_trace(go.Scatter(
    x=match_by_wave.columns,
    y=[(match_by_wave[i][1]) for i in match_by_wave.columns],
    name='Number of Matches Per Wave',
    mode='lines',
    marker=dict(color='rgb(50, 50, 200)', size=10),
))
#finish the figure and render the plot
fig3.update_layout(plot_bgcolor='rgb(247,247,247)',
                  title='Age Difference/Match Correlation by Wave',
                  xaxis_title='Wave',
                  yaxis_title='Mean Age Difference')
fig3.show()

In [29]:
#write html file for importing into iframe on blog
io.write_html(fig3, 'age_diff_vs_match_plot.html')

In [30]:
#dataframe for whether male or female is older
older_df = df[['wave', 'gender', 'age', 'age_o']]
older_df.head()

   wave  gender   age  age_o
0     1       0  21.0   27.0
1     1       0  21.0   22.0
2     1       0  21.0   22.0
3     1       0  21.0   23.0
4     1       0  21.0   24.0

In [31]:
older_df.describe()

              wave       gender          age        age_o
count  8378.000000  8378.000000  8283.000000  8274.000000
mean     11.350919     0.500597    26.358928    26.364999
std       5.995903     0.500029     3.566763     3.563648
min       1.000000     0.000000    18.000000    18.000000
25%       7.000000     0.000000    24.000000    24.000000
50%      11.000000     1.000000    26.000000    26.000000
75%      15.000000     1.000000    28.000000    28.000000
max      21.000000     1.000000    55.000000    55.000000

In [32]:
#create column with age difference relative to gender
#if negative the other gender is older
older_df['older'] = older_df['age']-older_df['age_o']
older_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   wave  gender   age  age_o  older
0     1       0  21.0   27.0   -6.0
1     1       0  21.0   22.0   -1.0
2     1       0  21.0   22.0   -1.0
3     1       0  21.0   23.0   -2.0
4     1       0  21.0   24.0   -3.0

In [33]:
#mean age difference
abs(older_df['older']).mean()

3.658435207823961

In [34]:
#separate by gender
older_female_df = older_df[older_df['gender'] == 0]
older_male_df = older_df[older_df['gender'] == 1]

In [35]:
older_female_df.head()

   wave  gender   age  age_o  older
0     1       0  21.0   27.0   -6.0
1     1       0  21.0   22.0   -1.0
2     1       0  21.0   22.0   -1.0
3     1       0  21.0   23.0   -2.0
4     1       0  21.0   24.0   -3.0

In [36]:
older_male_df.head()

     wave  gender   age  age_o  older
100     1       1  27.0   21.0    6.0
101     1       1  27.0   24.0    3.0
102     1       1  27.0   25.0    2.0
103     1       1  27.0   23.0    4.0
104     1       1  27.0   21.0    6.0

In [37]:
#discern which person was older in each observation
temp_filter = older_female_df[older_female_df['older'] > 0]

In [38]:
temp_filter.head()

    wave  gender   age  age_o  older
11     1       0  24.0   22.0    2.0
12     1       0  24.0   22.0    2.0
13     1       0  24.0   23.0    1.0
21     1       0  25.0   22.0    3.0
22     1       0  25.0   22.0    3.0

In [39]:
#crosstab of each age and total age difference for each wave in females
older_female_xtab = pd.crosstab(index=temp_filter['age'], columns=temp_filter['wave'])
older_female_xtab

wave  1   2   3   4   5   6   7   8   9   ...  13  14  15  16  17  18  19  20  21
age                                       ...
19.0   0   0   0   0   1   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
20.0   0   0   0   0   6   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
21.0   0   0   0   0  15   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
22.0   0   2   1   2   0   0   0   3   0  ...   0   0   0   0   2   0   0   0   0
23.0   4   6   8  12   0   0   2   1   0  ...   0   0   1   0   6   0   0   0  10
24.0   3  10   4   0   0   0  10   2   4  ...   0   3   9   0   0   2   4   1  12
25.0  10  14   0   8   0   0   0   0  20  ...   2   2  18   6   0   0  12   6  10
26.0  12  18   6   6   0   0   5   0   5  ...   0  16  12   0   0   2   6   8  48
27.0   0  40   7  18   0   1  28   0  18  ...   0  10   8   0  16   2   9   0  28
28.0   0   0   8  11   0   0  40   8  24  ...   0   0  22   5  10   0   0   0  30
29.0   0   0   9  28   0   0   0   9  15  ...  10  12   0   7  11   6   5   0  16
30.0   0  14   0  15   0   0  15   9  16  ...  12   0  15   0  12   0  18   0  17
31.0   0   0   0   0   0   0  16   0  17  ...   0  17   0   0   0   0   0   0   0
32.0   0   0   0  16   0   0   0   0   0  ...   0  17   0   0   0   0   0   0   0
33.0   0   0   0   0   0   0  16   0   0  ...   0  34  36   0   0   0   0   0   0
34.0   0   0   0  17   0   0   0   0   0  ...  14   0   0   0   0   0  15   0   0
35.0   0   0   0  17   0   0   0  10   0  ...   0  18   0   0   0   0   0   0   0
36.0   0   0   0   0   0   0  16   0   0  ...   7   0   0   0   0   0   0   0   0
38.0   0   0   0   0   0   0   0   0   0  ...   0   0  19   0   0   0   0   0   0
55.0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   6   0   0   0

[20 rows x 21 columns]

In [40]:
#filter for males
temp_filter = older_male_df[older_male_df['older'] > 0]

In [41]:
temp_filter.head()

     wave  gender   age  age_o  older
100     1       1  27.0   21.0    6.0
101     1       1  27.0   24.0    3.0
102     1       1  27.0   25.0    2.0
103     1       1  27.0   23.0    4.0
104     1       1  27.0   21.0    6.0

In [42]:
#crosstab of each age and total age difference for each wave in males
older_male_xtab = pd.crosstab(index=temp_filter['age'], columns=temp_filter['wave'])
older_male_xtab

wave  1   2   3   4   5   6   7   8   9   ...  13  14  15  16  17  18  19  20  21
age                                       ...
20.0   0   0   0   0   1   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
21.0   0   0   0   0   8   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
22.0   4   3   0   0  36   0   0   0   0  ...   0   0   1   0   0   0   0   0   0
23.0   3  15   0   0   0   0   0   0   4  ...   1   2   4   0   2   0   0   0  12
24.0  10  16   3   6   0   0   0   8  10  ...   2   3   9   2   5   0   0   2  32
25.0   6  20   4  12   0   0   0  18   7  ...   2  12   0   0  10   0   0   2  20
26.0   0  12   4  24   0   2   6   6  48  ...   0   7  18   4  10   0   0   4  22
27.0  20  14   5  18   0   0  12   6  39  ...   3  66  33   8  10   2   0   6  15
28.0  10  54   6  33   0   4  24   6  45  ...   3  13   0   8   7   0  22   0  17
29.0   0   0   7  12   0   4  24   0  17  ...   3  26  56   0   8   0  44   0  19
30.0  10  36   0  14   0   0  12   0  18  ...   5  42  14   6  18   0  36   0  80
31.0   0   0   0   0   0   0   0   0  19  ...   0   0  30   0   0   0  14   0   0
32.0   0   0   0  15   0   4   0   0  20  ...   0   0   0   0   0   0  28   0  21
33.0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0  15   0   0   0
34.0   0   0   0   0   0   0   0   9   0  ...   0  18  17   0   0   0   0   0   0
36.0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   6   0
37.0   0   0   0   0   0   4   0   0   0  ...   0   0   0   0   0   0   0   0   0
39.0   0   0   0  18   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
42.0   0   0   0   0   0   0   0   0  20  ...   0   0   0   0   0   0   0   0   0

[19 rows x 21 columns]

In [43]:
#create the figure
fig4 = go.Figure()

#data for showing the mean age difference from the female perspective
fig4.add_trace(go.Scatter(
    x = older_female_xtab.columns,
    y = [older_female_xtab[i].mean() for i in older_female_xtab.columns],
    name = 'Female vs Male',
    mode = 'lines',
    marker = dict(color='rgb(240, 100, 105)')
))

#data for showing the mean age difference from the male perspective
fig4.add_trace(go.Scatter(
    x = older_male_xtab.columns,
    y = [older_male_xtab[i].mean() for i in older_male_xtab.columns],
    name = 'Male vs Female',
    mode = 'lines',
    marker = dict(color='rgb(105, 100, 230)')
))

#set figure attributes and render
fig4.update_layout(plot_bgcolor='rgb(247,247,247)',
                  title='Mean Age Difference by Gender',
                  xaxis_title='Wave',
                  yaxis_title='Mean Age Difference')

fig4.show()

In [44]:
#write html file for importing into iframe on blog
io.write_html(fig4, 'mean_age_by_gender_plot.html')

In [45]:
careers = ['Law', 'Math', 'SocSciPsych', 'MedSciPharm', 'Engineering',
        'EngJourn', 'HistRelPhil', 'BusEconFin', 'Education', 'BioSciChemPhys',
        'SocialWork', 'UndGrad', 'PoliSciIntAffairs', 'Film', 'FineArtsAdmin',
        'Languages', 'Architecture', 'Other']